<div class="main">
    <div class="top-bar">
        <button class="btn compact" routerLink="../"><i class="bi bi-arrow-left"></i> Leave</button>
        @if(deathMode()) {
        <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">DEATH MODE ACTIVE</div>
        }
    </div>

    <div style="position: relative;">
        <div class="prestart-overlay" [hidden]="raceStarted()">
            @if (!countdownRunning() && !isHost()) {
            <p style="padding: 20px; background: #000a;">Waiting for host to start the game...</p>
            }
            <div class="countdown" [hidden]="!countdownRunning()">{{ countdown() }}</div>
        </div>
    
        <app-arena
            [enabled]="raceStarted()"
            [quote]="quote()"
            [author]="author()"
            [me]="me()"
            [others]="others()"
            [winners]="winners()"
            [deathMode]="deathMode()"
            (onProgress)="onProgress($event)"
        ></app-arena>
    </div>
</div>

<div class="side">
    <div class="leaderboard-container">
        @if (isHost()) {
        <div class="host-commands">
            <h3 class="m-0">Host commands</h3>
            <div class="d-grid gap-2" style="grid-template-columns: 150px 150px;">
                <button
                    id="host-cmd-start"
                    class="btn compact"
                    [class.btn-primary]="!raceStarted()"
                    [class.btn-secondary]="raceStarted()"
                    [disabled]="raceStarted()"
                    (click)="startGame()"
                >Start  (⇧ + ↵)</button>
                <button
                    id="host-cmd-new"
                    class="btn compact"
                    [class.btn-primary]="raceStarted()"
                    [class.btn-secondary]="!raceStarted()"
                    (click)="newGame()"
                >New (⌘ + ↵)</button>
            </div>

            <div class="d-flex justify-content-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            [disabled]="raceStarted()"
                            [checked]="deathMode()"
                            (change)="toggleDeathMode()"
                        >Death mode
                    </label>
                </div>
            </div>
        </div>
        }

        <button
            id="share-link"
            class="btn btn-secondary"
            (click)="shareLink()"
        >Share link <i class="bi bi-link-45deg"></i></button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Percentage</th>
                </tr>
            </thead>
            <tbody>
                @for (client of racePlayersSortByPercentage(); track client.id) {
                <tr>
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td class="text-start">{{ client.name | ellipsis: 15 }}</td>
                    <td class="text-end">{{ (client.percentage || 0) | percent }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="chat-container">
        <div class="chat-title">
            <span>Chat</span>
        </div>
        <div class="chat">
            @for (msg of chatMessages(); track $index) {
            <div 
                class="chat-message-wrap" 
                [class.my-message]="msg.client.id === (api.client$ | async)?.id"
                [class.system-message]="msg.isSystem"
            >
                @if (!msg.isSystem) {
                <div class="chat-header">
                    <div class="chat-author">{{ msg.client.name | ellipsis: 15 }}</div>
                    <div class="chat-time">{{ msg.time }}</div>
                </div>
                }
                <div class="chat-message">{{ msg.text }}</div>
            </div>
            }
        </div>
        
        <div class="is-typing-info"></div>

        <div class="chat-composer">
            <input
                id="chat-input"
                type="text" 
                class="form-control compact"
                placeholder="Type your message here..."
                autocomplete="off"
                [formControl]="chatMessage"
                (input)="handleIsTypingChat()"
                (keydown.enter)="sendChatMessage(chatMessage.value)"
            >
            <button 
                class="btn compact"
                (click)="sendChatMessage(chatMessage.value)"
            >Send (↵)</button>
        </div>
    </div>
</div>
