.lanes {
    display: grid;
    gap: 30px;
    margin-bottom: 30px;
}

.text {
    margin-bottom: 30px;

    .finished {
        .char {
            color: rgba(var(--primary-color), 1);
            animation: pulsing-char 0.5s 5 ease-in-out alternate forwards;
        }
    }

    .char {
        font-size: 24px;
        color: rgba(var(--primary-color), 0.5);
        border-left: 3px solid transparent;

        &.active {
            animation: pulsing-border 0.5s infinite alternate;
        }

        &.digited {
            color: rgba(var(--primary-color), 1);
        }

        &.error {
            color: red;
        }
    }

    @keyframes pulsing-char {
        0% {
            color: rgba(var(--primary-color), 1);
        }
        100% {
            color: rgba(var(--primary-color), 0.5);
        }
    }

    @keyframes pulsing-border {
        0% {
            border-color: rgba(var(--primary-color), 1);
        }
        100% {
            border-color: transparent;
        }
    }
}