<div style="display: block; max-width: 800px; margin: 5rem auto;">
    <div class="lanes">
        @if(me()) {
        <app-lane
            [percentage]="me()!.percentage"
            [car]="me()!.car"
            [username]="me()!.name + ' (' + me()!.wpm + 'wpm-' + (me()!.accuracy | percent) + ')'"
        ></app-lane>
        }
        @for(player of others(); track player.id) {
        <app-lane
            [percentage]="player.percentage"
            [car]="player.car"
            [username]="player.name + ' (' + player.wpm + 'wpm-' + (player.accuracy | percent) + ')'"
        ></app-lane>
        }
    </div>

    <div class="text" [class.finished]="finished">
        @for (char of chars; track $index) {
        <span
            class="char"
            [class.active]="char.active"
            [class.digited]="char.digited"
            [class.error]="char.error"
        >{{ char.char }}</span>
        }
    </div>

    <input
        id="text-control"
        class="form-control"
        type="text"
        autocomplete="off"
        (input)="inputText($event)"
    >
</div>
