<div class="lanes">
    @if(me()) {
    <app-lane
        [id]="me()!.id"
        [car]="me()!.car"
        [username]="me()!.name + ' (' + (me()!.wpm || 0) + 'wpm-' + ((me()!.accuracy || 0) | percent) + ')'"
        [percentage]="me()!.percentage"
        [dead]="me()!.dead"
        [deadPercentage]="me()!.deadPercentage"
        [winners]="winners()"
        [deathMode]="deathMode()"
    ></app-lane>
    }
    @for(player of others(); track player.id) {
    <app-lane
        [id]="player.id"
        [car]="player.car"
        [username]="player.name + ' (' + (player.wpm || 0) + 'wpm-' + ((player.accuracy || 0) | percent) + ')'"
        [percentage]="player.percentage"
        [dead]="player.dead"
        [deadPercentage]="player.deadPercentage"
        [winners]="winners()"
        [deathMode]="deathMode()"
    ></app-lane>
    }
</div>

<div
    class="text"
    [class.finished]="finished()"
    [class.unfocused]="document.activeElement !== textControl"
    (click)="focusTextControl()"
>
    @for (char of chars; track $index) {
    <span
        class="char"
        [class.dead]="me() && me()!.dead"
        [class.active]="char.active"
        [class.digited]="char.digited"
        [class.error]="char.error"
    >{{ char.char }}</span>
    }
</div>

<div class="ms-2 mt-2"><i>- {{ author() }}</i></div>

<input
    #textControl
    id="text-control"
    class="form-control"
    type="text"
    autocomplete="off"
    (input)="inputText($event)"
>
