<div class="main">
    <div class="top-bar">
        <button class="btn btn-secondary compact" routerLink="../">Leave</button>
    </div>
    <app-arena quote="The quick brown fox jumps over the lazy dog"></app-arena>
</div>

<div class="side">
    <div class="leaderboard-container">
        @if (isHost()) {
        <div class="host-commands">
            <h3 class="m-0">Host commands</h3>
            <button
                class="btn compact btn-primary"
                [disabled]="!hasGameStarted()"
                (click)="areYouSureNewGame()"
            >New game</button>
            <button
                class="btn compact btn-primary"
                (click)="kickPlayer()"
            >Kick player</button>
        </div>
        }

        <button id="share-link" class="btn btn-primary" (click)="shareLink()">Share link</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Percentage</th>
                </tr>
            </thead>
            <tbody>
                @for (client of clientsSortByPercentage(); track client.id) {
                <tr>
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td class="text-start">{{ client.name }}</td>
                    <td class="text-end">{{ (client.percentage || 0) | percent }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="chat-container">
        <div class="chat-title">
            <span>Chat</span>
            @if (voip.calling()) {
            <button class="btn btn-secondary compact" (click)="voip.stopCall()">
                Stop call <i class="bi bi-mic-mute"></i>
            </button>
            }
            @else {
            <button class="btn btn-secondary compact" (click)="voip.startCall()">
                Start call <i class="bi bi-mic"></i>
            </button>
            }
        </div>
        <div class="chat">
            @for (msg of chatMessages(); track $index) {
            <div 
                class="chat-message-wrap" 
                [class.my-message]="msg.client.id === (api.client$ | async)?.id"
                [class.system-message]="msg.isSystem"
            >
                @if (!msg.isSystem) {
                <div class="chat-header">
                    <div class="chat-author">{{msg.client.name}}</div>
                    <div class="chat-time">{{msg.time}}</div>
                </div>
                }
                <div class="chat-message">{{msg.text}}</div>
            </div>
            }
        </div>

        <div class="chat-composer">
            <input 
                type="text" 
                class="form-control compact"
                placeholder="Type your message here..."
                [formControl]="chatMessage"
                (keydown.enter)="sendChatMessage(chatMessage.value)"
            >
            <button 
                class="btn compact"
                (click)="sendChatMessage(chatMessage.value)"
            >Send (↵)</button>
        </div>
    </div>
</div>

<div class="modal">
    <input class="modal-trigger" type="checkbox" id="are-you-sure-new-game">

    <div class="modal-dialog" style="max-width: 500px; width: 98%;">
        <h2 class="modal-title">Start New Game</h2>

        <div class="modal-body">
            <p class="text-center">Are you sure you want to start a new game? All current progress will be lost. This action cannot be undone.</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="uncheck('#are-you-sure-new-game')">Cancel</button>
            <button class="btn btn-primary" (click)="areYouSureNewGameOk()">Ok</button>
        </div>
    </div>
</div>
