<div class="car" [style.right.%]="100 - percentage() * 100">
    <div class="car-img-wrap">
        <div class="car-img-wrap">
            <img [src]="'assets/cars/car-' + car() + '.png'">
            @if (dead()) {
            <img class="car-game-over" src="assets/rewards/game-over.png">
            }
        </div>
    </div>
    <div class="username">{{ username() }}</div>
</div>

@if (dead()) {
<div class="car" [style.right.%]="100 - (deadPercentage() || 0) * 100">
    <div class="car-img-wrap">
        <img style="opacity: 0.33;" [src]="'assets/cars/ghost.png'">
    </div>
</div>
}

@if (id() === winners().bronze) { <img class="reward" src="assets/rewards/bronze.png"> }
@if (id() === winners().silver) { <img class="reward" src="assets/rewards/silver.png"> }
@if (id() === winners().gold) { <img class="reward" src="assets/rewards/gold.png"> }