:host {
    position: relative;
    display: flex;
    height: 32px;
    background-image: linear-gradient(to right, rgba(var(--primary-color), 0.5) 33%, rgba(255, 255, 255, 0) 0%);
    background-position: left bottom;
    background-size: 32px 3px;
    background-repeat: repeat-x;

    .car {
        position: absolute;
        top: 0;
        right: 0%;
        height: 24px;
        aspect-ratio: 400/128;

        .car-img-wrap {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }

            .car-game-over {
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .username {
            white-space: nowrap;
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
        }
    }

    .reward {
        position: absolute;
        top: 0;
        left: 102%;
        height: 24px;
    }
}